@import "./fonts.scss";
@import "./variables.scss";
:root {
  font-size: 16px;
  color: #212529;
}
body {
  font-family: $font-family;
}
.btn {
  border-radius: 0;
  border: none;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: $font-weight-bold;
  &-primary {
    background-color: $primary;
    color: $black;
    &:hover {
      background-color: darken($primary, 15%);
    }
  }
  &-black {
    background-color: $black;
    color: $primary;
    &:hover {
      background-color: darken($black, 15%);
    }
  }
}
.section {
  padding: $section-padding;
}
