// FONTS
$font-family: "Poppins", sans-serif;

$font-weight-normal: 400;
$font-weight-bold: 700;

$font-size: 1rem;

// COLORS
$primary: #c69b2e;

$black: #212529;
$white: #fff;

// SPACING
// - Section padding
$section-padding: 3rem 0;
